*{
    margin: 0px;
    padding: 0px;
}
.plantas{
    display: grid;
    grid-template-areas: 
    "cactus rosas pino"
    "cactus rosas pino"
    "estrella suculentas clavel"
    "estrella suculentas clavel";
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: auto auto auto;
}
.plantas__cactus{
    grid-area: cactus;
}
.plantas__rosas{
    grid-area: rosas;
}
.plantas__pinolimon{
    grid-area: pino;
}
.plantas__estrella{
    grid-area: estrella;
}
.plantas__suculentas{
    grid-area: suculentas;
}
.plantas__clavel{
    grid-area: clavel;
}
.navbar {
    z-index: 1;
    margin-bottom: 15px;
    background: rgb(207,207,206);
    background: linear-gradient(180deg, rgba(207,207,206,1) 0%, rgba(234,234,234,1) 42%, rgba(255,254,254,1) 70%);
  }
.menu{
    max-height: 80px;
}
.menu img{
    border-radius: 100%;
    max-height: 65px;
}
.plantas{
    margin: 40px;
    align-items: center;
}
.card{
    margin: 25px;
    max-width: 500px;
    min-height: 450px;
    transition: all 600ms ease-in-out;
    box-shadow: 6px 5px 15px 6px #D7D7D7;
}
.card:hover{
    transform: scale(1.05);
}
.card img{
    width: 100%;
    height: 50%;
}
.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.informacion{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.informacion__titulo{
    font-size: 35px;
    color: black;
    margin-top: 10px;
    box-shadow: 0 0 0 0.45 rgb(46, 46, 48);
}
.carrusel{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.carousel{
    width: 1200px;
    margin-top: 15px;
}

footer{
    background: rgb(131, 128, 128);
    height: auto;
    width: 100%;
}
.footerContenido{
    display: grid;
    grid-template-areas: 
    "  paginas social maps "
    " paginas social maps ";
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: auto auto auto;
}
.footerContenido__maps{
    grid-area: maps;
    margin: 40px;
}
.footerContenido__paginas{
    width: 300px;
    grid-area: paginas;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
}
.footerContenido__paginas li{
    list-style-type: none;
    text-decoration: none;
    font-size: 22px;
}
.footerContenido__paginas li a {
    text-decoration: none;
    color: rgb(199, 199, 199);
}
.footerContenido__social{
    grid-area: social;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding: 15px;
}
.footerContenido__social li{
    list-style-type: none;
}
.footerContenido__social li a img{
    width: 50px;
    height: 50px;
}
.contenido{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}
.contenido__informacion{
    text-align: center;
    width: 1400px;
    height: auto;
    border-radius: 20px;
    border: solid #dfe2e09a 3px;
    box-shadow:6px 5px 12px 5px rgba(68, 63, 63, 0.767) ;
}
.contenido__informacion-titulo{
    margin-top: 15px;
    margin-bottom: 15px;
}
.contenido__informacion-texto{
    margin: 15px;
    padding: 10px;
}

@media only screen and (max-width: 576px){
    *{
        margin: 0px;
        padding: 0px;
    }
    .plantas{
        display: grid;
        grid-template-areas: 
        "cactus cactus"
        "rosas rosas"
        "pino pino"
        "estrella estrella"
        "suculentas suculentas"
        "clavel clavel";
        grid-template-columns: 2fr 2fr;
        grid-template-rows: auto auto;
    }
    .plantas__cactus{
        grid-area: cactus;
    }
    .plantas__rosas{
        grid-area: rosas;
    }
    .plantas__pinolimon{
        grid-area: pino;
    }
    .plantas__estrella{
        grid-area: estrella;
    }
    .plantas__suculentas{
        grid-area: suculentas;
    }
    .plantas__clavel{
        grid-area: clavel;
    }
    .menu{
        max-height: 80px;
    }
    .menu img{
        border-radius: 100%;
        max-height: 65px;
    }
    .plantas{
        margin: 40px;
        align-items: center;
    }
    .card{
        margin: 8px;
    }
    .contenido{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 10px;
    }
    .contenido__informacion{
        text-align: center;
        width: 99%;
        height: auto;
        border-radius: 20px;
        border: solid #dfe2e09a 3px;
        box-shadow:6px 5px 12px 5px rgba(68, 63, 63, 0.767) ;
    }
    .contenido__informacion-titulo{
        margin-top: 7px;
        margin-bottom: 7px;
    }
    .contenido__informacion-texto{
        margin: 5px;
        padding: 5px;
    }
    .footerContenido{
        display: grid;
        grid-template-areas: 
        "  paginas  "
        " social  "
        " maps ";
        grid-template-columns: 2fr;
        grid-template-rows: auto ;
    }
    .footerContenido__maps{
        grid-area: maps;
    }
    .footerContenido__paginas{
        grid-area: paginas;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .footerContenido__paginas li{
        list-style-type: none;
        text-decoration: none;
        font-size: 22px;
    }
    .footerContenido__paginas li a {
        text-decoration: none;
        color: rgb(199, 199, 199);
    }
    .footerContenido__social{
        grid-area: social;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px;
        padding: 15px;
    }
    .footerContenido__social li{
        list-style-type: none;
    }
    .footerContenido__social li a img{
        width: 50px;
        height: 50px;
    }

}