@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@400;500;600&family=Marmelad&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;500;600&family=Marmelad&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@400;500;600&family=Marmelad&family=Merienda:wght@400;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Cormorant Upright', sans-serif;
  font-size: 22px;
  font-weight: 600;
}

.informacion__titulo {
  font-family: 'Marmelad', sans-serif;
  font-weight: 400;
  font-size: 32px;
}

.informacion__texto {
  font-family: 'Merienda', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.informacion {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: ". riego riego ." ". luz luz ." ". trans trans ." ". abono abono .";
}

.informacion__riego {
  grid-area: riego;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.informacion__luz {
  grid-area: luz;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.informacion__transplante {
  grid-area: trans;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.informacion__abono {
  grid-area: abono;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.informacion__titulo {
  text-align: center;
}

.menu {
  max-height: 80px;
}

.menu img {
  border-radius: 100%;
  max-height: 65px;
}

.navbar-nav {
  margin-left: 580px;
}

.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.informacion__img {
  width: 100%;
  height: 100%;
  box-shadow: 6px 5px 15px 6px #D7D7D7;
}

.titulo {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 45px;
  text-align: center;
}

.informacion__riego-texto {
  width: 800px;
  height: auto;
  margin: 10px;
  padding: 5px;
  border-radius: 20px;
  border: solid #dfe2e09a 3px;
  box-shadow: 6px 5px 12px 5px rgba(68, 63, 63, 0.767);
}

.informacion__luz-texto {
  width: 800px;
  height: auto;
  margin: 10px;
  padding: 5px;
  border-radius: 20px;
  border: solid #dfe2e09a 3px;
  box-shadow: 6px 5px 12px 5px rgba(68, 63, 63, 0.767);
}

.informacion__transplante-texto {
  width: 800px;
  height: auto;
  margin: 10px;
  padding: 5px;
  border-radius: 20px;
  border: solid #dfe2e09a 3px;
  box-shadow: 6px 5px 12px 5px rgba(68, 63, 63, 0.767);
}

.informacion__abono-texto {
  width: 800px;
  height: auto;
  margin: 10px;
  padding: 5px;
  border-radius: 20px;
  border: solid #dfe2e09a 3px;
  box-shadow: 6px 5px 12px 5px rgba(68, 63, 63, 0.767);
}

footer {
  background: #838080;
  height: auto;
  width: 100%;
}

.footerContenido {
  display: grid;
  grid-template-areas: "  paginas social maps " " paginas social maps ";
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: auto auto auto;
}

.footerContenido__maps {
  grid-area: maps;
  margin: 40px;
}

.footerContenido__paginas {
  width: 300px;
  grid-area: paginas;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
}

.footerContenido__paginas li {
  list-style-type: none;
  text-decoration: none;
  font-size: 22px;
}

.footerContenido__paginas li a {
  text-decoration: none;
  color: #c7c7c7;
}

.footerContenido__social {
  grid-area: social;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  padding: 15px;
}

.footerContenido__social li {
  list-style-type: none;
}

.footerContenido__social li a img {
  width: 50px;
  height: 50px;
}

@media only screen and (max-width: 768px) {
  .informacion {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: " riego riego " " luz luz " " trans trans " " abono abono ";
  }
  .informacion__riego {
    grid-area: riego;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: auto;
  }
  .informacion__luz {
    grid-area: luz;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: auto;
  }
  .informacion__transplante {
    grid-area: trans;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: auto;
  }
  .informacion__abono {
    grid-area: abono;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: auto;
  }
  .banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
  }
  .banner img {
    width: 100%;
    height: auto;
  }
  .navbar-nav {
    margin: auto;
  }
  .informacion__titulo {
    text-align: center;
  }
  .menu {
    max-height: 80px;
  }
  .menu img {
    border-radius: 100%;
    max-height: 65px;
  }
  .informacion__img {
    max-width: 400px;
    max-height: auto;
  }
  .informacion__riego-texto {
    width: 95%;
    height: auto;
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
    border: solid #dfe2e09a 3px;
    box-shadow: 6px 5px 12px 5px rgba(68, 63, 63, 0.767);
  }
  .informacion__luz-texto {
    width: 95%;
    height: auto;
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
    border: solid #dfe2e09a 3px;
    box-shadow: 6px 5px 12px 5px rgba(68, 63, 63, 0.767);
  }
  .informacion__transplante-texto {
    width: 95%;
    height: auto;
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
    border: solid #dfe2e09a 3px;
    box-shadow: 6px 5px 12px 5px rgba(68, 63, 63, 0.767);
  }
  .informacion__abono-texto {
    width: 95%;
    height: auto;
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
    border: solid #dfe2e09a 3px;
    box-shadow: 6px 5px 12px 5px rgba(68, 63, 63, 0.767);
  }
  .informacion__img {
    width: 95%;
    height: auto;
    box-shadow: 6px 5px 15px 6px #D7D7D7;
    margin: 15px;
    padding: 6px;
  }
  .footerContenido {
    display: grid;
    grid-template-areas: " . paginas . " " . social . " " . maps . ";
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto auto auto;
  }
  .footerContenido__maps {
    grid-area: maps;
  }
  .footerContenido__paginas {
    grid-area: paginas;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footerContenido__paginas li {
    list-style-type: none;
    text-decoration: none;
    font-size: 22px;
  }
  .footerContenido__paginas li a {
    text-decoration: none;
    color: #c7c7c7;
  }
  .footerContenido__social {
    grid-area: social;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding: 15px;
  }
  .footerContenido__social li {
    list-style-type: none;
  }
  .footerContenido__social li a img {
    width: 50px;
    height: 50px;
  }
}

@media only screen and (max-width: 375px) {
  .informacion__riego-texto {
    width: 85%;
    height: auto;
  }
  .informacion__luz-texto {
    width: 85%;
    height: auto;
  }
  .informacion__transplante-texto {
    width: 85%;
    height: auto;
  }
  .informacion__abono-texto {
    width: 85%;
    height: auto;
  }
  .informacion__img {
    width: 90%;
    height: auto;
    box-shadow: 6px 5px 15px 6px #D7D7D7;
    margin: 15px;
    padding: 6px;
  }
  .footerContenido {
    display: grid;
    grid-template-areas: " . paginas .  " " . social . " " . maps . ";
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto auto auto;
  }
  .footerContenido__maps {
    grid-area: maps;
    width: 280px;
    height: auto;
  }
  .footerContenido__maps-mapa {
    width: 100%;
    height: auto;
  }
  .footerContenido__paginas {
    grid-area: paginas;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 220px;
    height: auto;
  }
  .footerContenido__paginas li {
    list-style-type: none;
    text-decoration: none;
    font-size: 18px;
  }
  .footerContenido__paginas li a {
    text-decoration: none;
    color: #c7c7c7;
  }
  .footerContenido__social {
    grid-area: social;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
  }
  .footerContenido__social li {
    list-style-type: none;
  }
  .footerContenido__social li a img {
    width: 50px;
    height: 50px;
  }
}
