*{
    margin: 0px;
    padding:0px;
}
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 400px;
    background-image: url(../Media/Imagenes/baner.jpg);
}
.menu{
    max-height: 80px;
}
.menu img{
    border-radius: 100%;
    max-height: 65px;
}
footer{
    background: rgb(131, 128, 128);
    height: auto;
    width: 100%;
}
.footerContenido{
    display: grid;
    grid-template-areas: 
    "  paginas social maps "
    " paginas social maps ";
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: auto auto auto;
}
.footerContenido__maps{
    grid-area: maps;
    margin: 40px;
}
.footerContenido__paginas{
    width: 300px;
    grid-area: paginas;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
}
.footerContenido__paginas li{
    list-style-type: none;
    text-decoration: none;
    font-size: 22px;
}
.footerContenido__paginas li a {
    text-decoration: none;
    color: rgb(199, 199, 199);
}
.footerContenido__social{
    grid-area: social;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding: 15px;
}
.footerContenido__social li{
    list-style-type: none;
}
.footerContenido__social li a img{
    width: 50px;
    height: 50px;
}