@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@400;500;600&family=Marmelad&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;500;600&family=Marmelad&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@400;500;600&family=Marmelad&family=Merienda:wght@400;700&display=swap");
/* line 2, ../Final/SCSS Completo/_main.scss */
body {
  font-size: 22px;
  font-family: "Cormorant Upright", sans-serif;
  font-weight: 500;
}

/* line 7, ../Final/SCSS Completo/_main.scss */
.titulo {
  font-weight: 600;
  font-size: 24px;
  font-family: "Marmelad", sans-serif;
}

/* line 12, ../Final/SCSS Completo/_main.scss */
.informacion_titulo {
  font-size: 24px;
  margin-top: 15px;
  font-family: "Marmelad", sans-serif;
  font-weight: 600;
}

/* line 18, ../Final/SCSS Completo/_main.scss */
.card-title {
  font-family: "Marmelad", sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
}

/* line 24, ../Final/SCSS Completo/_main.scss */
.informacion {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: ". riego riego ." ". luz luz ." ". trans trans ." ". abono abono .";
}

/* line 33, ../Final/SCSS Completo/_main.scss */
.informacion .informacion__riego {
  grid-area: riego;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 42, ../Final/SCSS Completo/_main.scss */
.informacion .informacion__luz {
  grid-area: luz;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 51, ../Final/SCSS Completo/_main.scss */
.informacion .informacion__transplante {
  grid-area: trans;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 60, ../Final/SCSS Completo/_main.scss */
.informacion .informacion__abono {
  grid-area: abono;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 6, ../Final/SCSS Completo/completo.scss */
* {
  margin: 0px;
  padding: 0px;
}

/*Estilos compartidos en todas las paginas*/
/*Navbar*/
/* line 12, ../Final/SCSS Completo/completo.scss */
.menu {
  max-height: 80px;
}

/* line 14, ../Final/SCSS Completo/completo.scss */
.menu img {
  border-radius: 100%;
  max-height: 65px;
}

/* line 18, ../Final/SCSS Completo/completo.scss */
.menu .navbar {
  z-index: 1;
  margin-bottom: 15px;
  background: #cfcfce;
  background: linear-gradient(180deg, #cfcfce 0%, #eaeaea 42%, #fffefe 70%);
}

/* line 23, ../Final/SCSS Completo/completo.scss */
.menu .navbar .navbar-nav {
  margin: auto;
}

/* line 26, ../Final/SCSS Completo/completo.scss */
.menu .navbar .navbar-toggler {
  margin: 20px;
}

/*Footer*/
/* line 33, ../Final/SCSS Completo/completo.scss */
footer {
  background: #838080;
  height: auto;
  width: 100%;
}

/* line 37, ../Final/SCSS Completo/completo.scss */
footer .footerContenido {
  display: grid;
  grid-template-areas: "  paginas social maps " " paginas social maps ";
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: auto auto auto;
}

/* line 44, ../Final/SCSS Completo/completo.scss */
footer .footerContenido .footerContenido__maps {
  grid-area: maps;
  width: auto;
  margin: 40px;
}

/* line 48, ../Final/SCSS Completo/completo.scss */
footer .footerContenido .footerContenido__maps iframe {
  width: 100%;
  height: 200px;
}

/* line 53, ../Final/SCSS Completo/completo.scss */
footer .footerContenido .footerContenido__paginas {
  width: auto;
  grid-area: paginas;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
}

/* line 61, ../Final/SCSS Completo/completo.scss */
footer .footerContenido .footerContenido__paginas .footerContenido__paginas-normales li {
  list-style-type: none;
  font-size: 22px;
}

/* line 64, ../Final/SCSS Completo/completo.scss */
footer .footerContenido .footerContenido__paginas .footerContenido__paginas-normales li a {
  text-decoration: none;
  color: #c7c7c7;
}

/* line 69, ../Final/SCSS Completo/completo.scss */
footer .footerContenido .footerContenido__paginas .footerContenido__paginas-plantas li {
  list-style-type: none;
  font-size: 22px;
}

/* line 72, ../Final/SCSS Completo/completo.scss */
footer .footerContenido .footerContenido__paginas .footerContenido__paginas-plantas li a {
  text-decoration: none;
  color: #c7c7c7;
}

/* line 78, ../Final/SCSS Completo/completo.scss */
footer .footerContenido .contenido__paginas {
  grid-area: social;
}

/* line 80, ../Final/SCSS Completo/completo.scss */
footer .footerContenido .contenido__paginas .contenido__paginas-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  padding: 15px;
}

/* line 87, ../Final/SCSS Completo/completo.scss */
footer .footerContenido .contenido__paginas .contenido__paginas-social li {
  list-style-type: none;
}

/* line 89, ../Final/SCSS Completo/completo.scss */
footer .footerContenido .contenido__paginas .contenido__paginas-social li img {
  width: 50px;
  height: 50px;
  margin-top: 60px;
}

/*Estilos pagina principal*/
/* line 101, ../Final/SCSS Completo/completo.scss */
.plantas {
  display: grid;
  grid-template-areas: "cactus rosas pino" "cactus rosas pino" "estrella suculentas clavel" "estrella suculentas clavel";
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: auto auto auto;
  margin: 40px;
  align-items: center;
}

/* line 112, ../Final/SCSS Completo/completo.scss */
.plantas .plantas__cactus {
  grid-area: cactus;
}

/* line 114, ../Final/SCSS Completo/completo.scss */
.plantas .plantas__cactus .card {
  margin: 25px;
  max-width: 500px;
  min-height: 450px;
  transition: all 600ms ease-in-out;
  box-shadow: 6px 5px 15px 6px #D7D7D7;
}

/* line 120, ../Final/SCSS Completo/completo.scss */
.plantas .plantas__cactus .card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 126, ../Final/SCSS Completo/completo.scss */
.plantas .plantas__cactus .card:hover {
  transform: scale(1.05);
}

/* line 130, ../Final/SCSS Completo/completo.scss */
.plantas .plantas__rosas {
  grid-area: rosas;
}

/* line 132, ../Final/SCSS Completo/completo.scss */
.plantas .plantas__rosas .card {
  margin: 25px;
  max-width: 500px;
  min-height: 450px;
  transition: all 600ms ease-in-out;
  box-shadow: 6px 5px 15px 6px #D7D7D7;
}

/* line 138, ../Final/SCSS Completo/completo.scss */
.plantas .plantas__rosas .card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 144, ../Final/SCSS Completo/completo.scss */
.plantas .plantas__rosas .card:hover {
  transform: scale(1.05);
}

/* line 148, ../Final/SCSS Completo/completo.scss */
.plantas .plantas__pinolimon {
  grid-area: pino;
}

/* line 150, ../Final/SCSS Completo/completo.scss */
.plantas .plantas__pinolimon .card {
  margin: 25px;
  max-width: 500px;
  min-height: 450px;
  transition: all 600ms ease-in-out;
  box-shadow: 6px 5px 15px 6px #D7D7D7;
}

/* line 156, ../Final/SCSS Completo/completo.scss */
.plantas .plantas__pinolimon .card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 162, ../Final/SCSS Completo/completo.scss */
.plantas .plantas__pinolimon .card:hover {
  transform: scale(1.05);
}

/* line 166, ../Final/SCSS Completo/completo.scss */
.plantas .plantas__estrella {
  grid-area: estrella;
}

/* line 168, ../Final/SCSS Completo/completo.scss */
.plantas .plantas__estrella .card {
  margin: 25px;
  max-width: 500px;
  min-height: 450px;
  transition: all 600ms ease-in-out;
  box-shadow: 6px 5px 15px 6px #D7D7D7;
}

/* line 174, ../Final/SCSS Completo/completo.scss */
.plantas .plantas__estrella .card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 180, ../Final/SCSS Completo/completo.scss */
.plantas .plantas__estrella .card:hover {
  transform: scale(1.05);
}

/* line 184, ../Final/SCSS Completo/completo.scss */
.plantas .plantas__suculentas {
  grid-area: suculentas;
}

/* line 186, ../Final/SCSS Completo/completo.scss */
.plantas .plantas__suculentas .card {
  margin: 25px;
  width: auto;
  height: auto;
  transition: all 600ms ease-in-out;
  box-shadow: 6px 5px 15px 6px #D7D7D7;
}

/* line 192, ../Final/SCSS Completo/completo.scss */
.plantas .plantas__suculentas .card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 198, ../Final/SCSS Completo/completo.scss */
.plantas .plantas__suculentas .card:hover {
  transform: scale(1.05);
}

/* line 202, ../Final/SCSS Completo/completo.scss */
.plantas .plantas__clavel {
  grid-area: clavel;
}

/* line 204, ../Final/SCSS Completo/completo.scss */
.plantas .plantas__clavel .card {
  margin: 25px;
  max-width: 500px;
  min-height: 450px;
  transition: all 600ms ease-in-out;
  box-shadow: 6px 5px 15px 6px #D7D7D7;
}

/* line 210, ../Final/SCSS Completo/completo.scss */
.plantas .plantas__clavel .card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 216, ../Final/SCSS Completo/completo.scss */
.plantas .plantas__clavel .card:hover {
  transform: scale(1.05);
}

/* line 221, ../Final/SCSS Completo/completo.scss */
.carrusel {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* line 226, ../Final/SCSS Completo/completo.scss */
.carrusel .carousel {
  width: 1200px;
  margin-top: 15px;
}

/* line 231, ../Final/SCSS Completo/completo.scss */
.contenido {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

/* line 237, ../Final/SCSS Completo/completo.scss */
.contenido .contenido__informacion {
  text-align: center;
  width: 1400px;
  height: auto;
  border-radius: 20px;
  border: solid #dfe2e09a 3px;
  box-shadow: 6px 5px 12px 5px rgba(68, 63, 63, 0.767);
}

/* line 244, ../Final/SCSS Completo/completo.scss */
.contenido .contenido__informacion .contenido__informacion-titulo {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* line 248, ../Final/SCSS Completo/completo.scss */
.contenido .contenido__informacion .contenido__informacion-texto {
  margin: 15px;
  padding: 8px;
}

/*Estilo pagina productos*/
/* line 255, ../Final/SCSS Completo/completo.scss */
.productos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* line 261, ../Final/SCSS Completo/completo.scss */
.productos .titulo {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

/* line 266, ../Final/SCSS Completo/completo.scss */
.productos .productos__plantas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* line 276, ../Final/SCSS Completo/completo.scss */
.productos .productos__plantas .cardProductos {
  width: 270px;
  height: 420px;
  margin-left: 45px;
  margin-right: 45px;
  transition: all 600ms ease-in-out;
  text-align: center;
}

/* line 285, ../Final/SCSS Completo/completo.scss */
.productos .productos__macetas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* line 295, ../Final/SCSS Completo/completo.scss */
.productos .productos__macetas .cardProductos {
  width: 270px;
  height: 420px;
  margin-left: 45px;
  margin-right: 45px;
  transition: all 600ms ease-in-out;
  text-align: center;
}

/* line 304, ../Final/SCSS Completo/completo.scss */
.productos .productos__jardineria {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* line 314, ../Final/SCSS Completo/completo.scss */
.productos .productos__jardineria .cardProductos {
  width: 270px;
  height: 420px;
  margin-left: 45px;
  margin-right: 45px;
  transition: all 600ms ease-in-out;
  text-align: center;
}

/* line 323, ../Final/SCSS Completo/completo.scss */
.productos .cardProductos:hover {
  transform: scale(1.1);
}

/*Estilo paginas Plantas*/
/* line 328, ../Final/SCSS Completo/completo.scss */
.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* line 334, ../Final/SCSS Completo/completo.scss */
.titulo {
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
}

/* line 341, ../Final/SCSS Completo/completo.scss */
.informacion .informacion__riego .informacion__riego-texto {
  width: auto;
  height: auto;
  margin: 10px;
  padding: 5px;
  border-radius: 20px;
  border: solid #dfe2e09a 3px;
  box-shadow: 6px 5px 12px 5px rgba(68, 63, 63, 0.767);
}

/* line 349, ../Final/SCSS Completo/completo.scss */
.informacion .informacion__riego .informacion__riego-texto .informacion__titulo {
  text-align: center;
}

/* line 354, ../Final/SCSS Completo/completo.scss */
.informacion .informacion__riego .informacion__riego-img .informacion__img {
  width: auto;
  height: 100%;
  box-shadow: 6px 5px 15px 6px #D7D7D7;
}

/* line 362, ../Final/SCSS Completo/completo.scss */
.informacion .informacion__luz .informacion__luz-texto {
  width: auto;
  height: auto;
  margin: 10px;
  padding: 5px;
  border-radius: 20px;
  border: solid #dfe2e09a 3px;
  box-shadow: 6px 5px 12px 5px rgba(68, 63, 63, 0.767);
}

/* line 370, ../Final/SCSS Completo/completo.scss */
.informacion .informacion__luz .informacion__luz-texto .informacion__titulo {
  text-align: center;
}

/* line 375, ../Final/SCSS Completo/completo.scss */
.informacion .informacion__luz .informacion__luz-img .informacion__img {
  width: auto;
  height: 100%;
  box-shadow: 6px 5px 15px 6px #D7D7D7;
}

/* line 383, ../Final/SCSS Completo/completo.scss */
.informacion .informacion__transplante .informacion__transplante-texto {
  width: auto;
  height: auto;
  margin: 10px;
  padding: 5px;
  border-radius: 20px;
  border: solid #dfe2e09a 3px;
  box-shadow: 6px 5px 12px 5px rgba(68, 63, 63, 0.767);
}

/* line 391, ../Final/SCSS Completo/completo.scss */
.informacion .informacion__transplante .informacion__transplante-texto .informacion__titulo {
  text-align: center;
}

/* line 396, ../Final/SCSS Completo/completo.scss */
.informacion .informacion__transplante .informacion__transplante-img .informacion__img {
  width: auto;
  height: 100%;
  box-shadow: 6px 5px 15px 6px #D7D7D7;
}

/* line 404, ../Final/SCSS Completo/completo.scss */
.informacion .informacion__abono .informacion__abono-texto {
  width: auto;
  height: auto;
  margin: 10px;
  padding: 5px;
  border-radius: 20px;
  border: solid #dfe2e09a 3px;
  box-shadow: 6px 5px 12px 5px rgba(68, 63, 63, 0.767);
}

/* line 412, ../Final/SCSS Completo/completo.scss */
.informacion .informacion__abono .informacion__abono-texto .informacion__titulo {
  text-align: center;
}

/* line 417, ../Final/SCSS Completo/completo.scss */
.informacion .informacion__abono .informacion__abono-img .informacion__img {
  width: auto;
  height: 100%;
  box-shadow: 6px 5px 15px 6px #D7D7D7;
}

/*Estilo pagina Nosotros*/
/* line 427, ../Final/SCSS Completo/completo.scss */
.nosotros {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* line 432, ../Final/SCSS Completo/completo.scss */
.nosotros .nosotros__contenido {
  width: 1650px;
  height: auto;
  margin: 60px;
  padding: 30px;
  border-radius: 20px;
  border: solid #dfe2e09a 3px;
  box-shadow: 6px 5px 12px 5px rgba(68, 63, 63, 0.767);
}

/* line 440, ../Final/SCSS Completo/completo.scss */
.nosotros .nosotros__contenido h2 {
  display: inline;
  font-size: 18px;
  font-family: 500;
  font-weight: 500;
}

/* line 446, ../Final/SCSS Completo/completo.scss */
.nosotros .nosotros__contenido h3 {
  display: inline;
  font-size: 18px;
  font-family: 500;
  font-weight: 500;
}

/*Estilo pagina Contacto*/
/* line 455, ../Final/SCSS Completo/completo.scss */
.contacto {
  display: grid;
  grid-template-areas: "datos datos formu formu" "datos datos formu formu";
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-template-rows: auto auto;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* line 466, ../Final/SCSS Completo/completo.scss */
.contacto .contacto__datos {
  text-align: center;
  grid-area: datos;
  width: auto;
  height: auto;
  border-radius: 20px;
  border: solid #dfe2e09a 3px;
  box-shadow: 6px 5px 12px 5px rgba(68, 63, 63, 0.767);
}

/* line 474, ../Final/SCSS Completo/completo.scss */
.contacto .contacto__datos .contenido__datos-info {
  margin: 15px;
}

/* line 477, ../Final/SCSS Completo/completo.scss */
.contacto .contacto__datos .contacto__datos-horario {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Cormorant Upright", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

/* line 486, ../Final/SCSS Completo/completo.scss */
.contacto .contacto__formulario {
  grid-area: formu;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

/* line 492, ../Final/SCSS Completo/completo.scss */
.contacto .contacto__formulario .contacto__formu {
  width: 100%;
}

/* line 494, ../Final/SCSS Completo/completo.scss */
.contacto .contacto__formulario .contacto__formu .contacto__formulario-boton {
  text-align: center;
}

/* line 497, ../Final/SCSS Completo/completo.scss */
.contacto .contacto__formulario .contacto__formu .contacto__formulario-nombre {
  display: inline;
}

/* line 500, ../Final/SCSS Completo/completo.scss */
.contacto .contacto__formulario .contacto__formu .contacto__formulario-mensaje {
  width: 100%;
  height: auto;
}

/* line 504, ../Final/SCSS Completo/completo.scss */
.contacto .contacto__formulario .contacto__formu .form-control {
  margin: 10px;
  box-shadow: 2px 1px 4px 2px rgba(68, 63, 63, 0.767);
}

/* line 511, ../Final/SCSS Completo/completo.scss */
.texto {
  text-align: center;
  font-size: 22px;
  margin: 25px;
}

@media only screen and (max-width: 768px) {
  /*NabVar responsive*/
  /* line 519, ../Final/SCSS Completo/completo.scss */
  .menu .navbar {
    z-index: 1;
  }
  /* line 521, ../Final/SCSS Completo/completo.scss */
  .menu .navbar .navbar-nav {
    margin: auto;
  }
  /*Footer responsive*/
  /* line 528, ../Final/SCSS Completo/completo.scss */
  footer .footerContenido {
    display: grid;
    grid-template-areas: ". paginas ." ". social ." ". maps .";
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto auto auto;
  }
  /* line 536, ../Final/SCSS Completo/completo.scss */
  footer .footerContenido .footerContenido__maps {
    grid-area: maps;
    margin: 5px;
  }
  /* line 539, ../Final/SCSS Completo/completo.scss */
  footer .footerContenido .footerContenido__maps iframe {
    width: 100%;
    height: auto;
  }
  /* line 545, ../Final/SCSS Completo/completo.scss */
  footer .footerContenido__paginas {
    grid-area: paginas;
  }
  /* line 547, ../Final/SCSS Completo/completo.scss */
  footer .footerContenido__paginas .footerContenido__paginas-normales li {
    font-size: 24px;
  }
  /* line 549, ../Final/SCSS Completo/completo.scss */
  footer .footerContenido__paginas .footerContenido__paginas-normales li a {
    text-decoration: none;
    color: #c7c7c7;
  }
  /* line 554, ../Final/SCSS Completo/completo.scss */
  footer .footerContenido__paginas .footerContenido__paginas-plantas li {
    font-size: 24px;
  }
  /* line 556, ../Final/SCSS Completo/completo.scss */
  footer .footerContenido__paginas .footerContenido__paginas-plantas li a {
    text-decoration: none;
    color: #c7c7c7;
  }
  /* line 562, ../Final/SCSS Completo/completo.scss */
  footer .contenido__paginas {
    grid-area: social;
  }
  /* line 564, ../Final/SCSS Completo/completo.scss */
  footer .contenido__paginas .contenido__paginas-social {
    margin: 10px;
    padding: 8px;
  }
  /* line 567, ../Final/SCSS Completo/completo.scss */
  footer .contenido__paginas .contenido__paginas-social li img {
    margin: 20px;
  }
  /*Estilos pag principal*/
  /* line 574, ../Final/SCSS Completo/completo.scss */
  .plantas {
    display: grid;
    grid-template-areas: " . cactus . " " . rosas . " " . pino . " " . estrella . " " . suculentas . " " . clavel . ";
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto auto auto;
    align-items: center;
    margin: 10px;
  }
  /* line 587, ../Final/SCSS Completo/completo.scss */
  .plantas .plantas__cactus {
    grid-area: cactus;
  }
  /* line 589, ../Final/SCSS Completo/completo.scss */
  .plantas .plantas__cactus .card {
    margin: 8px;
  }
  /* line 593, ../Final/SCSS Completo/completo.scss */
  .plantas .plantas__rosas {
    grid-area: rosas;
  }
  /* line 595, ../Final/SCSS Completo/completo.scss */
  .plantas .plantas__rosas .card {
    margin: 8px;
  }
  /* line 599, ../Final/SCSS Completo/completo.scss */
  .plantas .plantas__pinolimon {
    grid-area: pino;
  }
  /* line 601, ../Final/SCSS Completo/completo.scss */
  .plantas .plantas__pinolimon .card {
    margin: 8px;
  }
  /* line 605, ../Final/SCSS Completo/completo.scss */
  .plantas .plantas__estrella {
    grid-area: estrella;
  }
  /* line 607, ../Final/SCSS Completo/completo.scss */
  .plantas .plantas__estrella .card {
    margin: 8px;
  }
  /* line 611, ../Final/SCSS Completo/completo.scss */
  .plantas .plantas__suculentas {
    grid-area: suculentas;
  }
  /* line 613, ../Final/SCSS Completo/completo.scss */
  .plantas .plantas__suculentas .card {
    margin: 8px;
  }
  /* line 617, ../Final/SCSS Completo/completo.scss */
  .plantas .plantas__clavel {
    grid-area: clavel;
  }
  /* line 619, ../Final/SCSS Completo/completo.scss */
  .plantas .plantas__clavel .card {
    margin: 8px;
  }
  /* line 624, ../Final/SCSS Completo/completo.scss */
  .carrusel {
    margin-bottom: 15px;
  }
  /* line 626, ../Final/SCSS Completo/completo.scss */
  .carrusel .carousel-control-prev {
    height: 40px;
    margin: auto;
  }
  /* line 630, ../Final/SCSS Completo/completo.scss */
  .carrusel .carousel-control-next {
    height: 40px;
    margin: auto;
  }
  /* line 635, ../Final/SCSS Completo/completo.scss */
  .contenido {
    margin: 10px;
  }
  /* line 637, ../Final/SCSS Completo/completo.scss */
  .contenido .contenido__informacion {
    width: 99%;
  }
  /* line 639, ../Final/SCSS Completo/completo.scss */
  .contenido .contenido__informacion .contenido__informacion-titulo {
    margin-top: 7px;
    margin-bottom: 7px;
  }
  /* line 643, ../Final/SCSS Completo/completo.scss */
  .contenido .contenido__informacion .contenido__informacion-texto {
    margin: 5px;
    padding: 5px;
  }
  /*Estilo pagina productos*/
  /* line 650, ../Final/SCSS Completo/completo.scss */
  .productos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
  /* line 656, ../Final/SCSS Completo/completo.scss */
  .productos .productos__plantas {
    display: grid;
    grid-template-areas: "cactus estrella" "rosas suculentas";
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto auto;
  }
  /* line 663, ../Final/SCSS Completo/completo.scss */
  .productos .productos__plantas .cactus {
    grid-area: cactus;
  }
  /* line 666, ../Final/SCSS Completo/completo.scss */
  .productos .productos__plantas .estrella {
    grid-area: estrella;
  }
  /* line 669, ../Final/SCSS Completo/completo.scss */
  .productos .productos__plantas .rosas {
    grid-area: rosas;
  }
  /* line 672, ../Final/SCSS Completo/completo.scss */
  .productos .productos__plantas .suculentas {
    grid-area: suculentas;
  }
  /* line 675, ../Final/SCSS Completo/completo.scss */
  .productos .productos__plantas .cardProductos {
    width: 300px;
    height: 450px;
    margin: 25px;
  }
  /* line 681, ../Final/SCSS Completo/completo.scss */
  .productos .productos__macetas {
    display: grid;
    grid-template-areas: "artesanal plastico" "cemento ceramica";
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto auto;
  }
  /* line 688, ../Final/SCSS Completo/completo.scss */
  .productos .productos__macetas .artesanal {
    grid-area: artesanal;
  }
  /* line 691, ../Final/SCSS Completo/completo.scss */
  .productos .productos__macetas .plastico {
    grid-area: plastico;
  }
  /* line 694, ../Final/SCSS Completo/completo.scss */
  .productos .productos__macetas .cemento {
    grid-area: cemento;
  }
  /* line 697, ../Final/SCSS Completo/completo.scss */
  .productos .productos__macetas .ceramica {
    grid-area: ceramica;
  }
  /* line 700, ../Final/SCSS Completo/completo.scss */
  .productos .productos__macetas .cardProductos {
    width: 300px;
    height: 450px;
    margin: 25px;
  }
  /* line 706, ../Final/SCSS Completo/completo.scss */
  .productos .productos__jardineria {
    display: grid;
    grid-template-areas: "insecti tierra" "mangue pala";
    grid-template-rows: auto auto;
    grid-template-columns: 2fr 2fr;
  }
  /* line 713, ../Final/SCSS Completo/completo.scss */
  .productos .productos__jardineria .insecticida {
    grid-area: insecti;
  }
  /* line 716, ../Final/SCSS Completo/completo.scss */
  .productos .productos__jardineria .tierra {
    grid-area: tierra;
  }
  /* line 719, ../Final/SCSS Completo/completo.scss */
  .productos .productos__jardineria .manguera {
    grid-area: mangue;
  }
  /* line 722, ../Final/SCSS Completo/completo.scss */
  .productos .productos__jardineria .pala {
    grid-area: pala;
  }
  /* line 725, ../Final/SCSS Completo/completo.scss */
  .productos .productos__jardineria .cardProductos {
    width: 300px;
    height: 450px;
    margin: 25px;
  }
  /*Estilo pagina Plantas*/
  /* line 733, ../Final/SCSS Completo/completo.scss */
  .informacion {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: " riego riego " " luz luz " " trans trans " " abono abono ";
  }
  /* line 742, ../Final/SCSS Completo/completo.scss */
  .informacion .informacion__riego {
    grid-area: riego;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: auto;
  }
  /* line 749, ../Final/SCSS Completo/completo.scss */
  .informacion .informacion__riego .informacion__riego-texto {
    width: 95%;
    height: auto;
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
    border: solid #dfe2e09a 3px;
    box-shadow: 6px 5px 12px 5px rgba(68, 63, 63, 0.767);
  }
  /* line 757, ../Final/SCSS Completo/completo.scss */
  .informacion .informacion__riego .informacion__riego-texto .informacion__titulo {
    text-align: center;
  }
  /* line 762, ../Final/SCSS Completo/completo.scss */
  .informacion .informacion__riego .informacion__riego-img .informacion__img {
    width: 95%;
    height: auto;
    box-shadow: 6px 5px 15px 6px #D7D7D7;
    margin: 15px;
    padding: 6px;
  }
  /* line 771, ../Final/SCSS Completo/completo.scss */
  .informacion .informacion__luz {
    grid-area: luz;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: auto;
  }
  /* line 778, ../Final/SCSS Completo/completo.scss */
  .informacion .informacion__luz .informacion__luz-texto {
    width: 95%;
    height: auto;
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
    border: solid #dfe2e09a 3px;
    box-shadow: 6px 5px 12px 5px rgba(68, 63, 63, 0.767);
  }
  /* line 786, ../Final/SCSS Completo/completo.scss */
  .informacion .informacion__luz .informacion__luz-texto .informacion__titulo {
    text-align: center;
  }
  /* line 791, ../Final/SCSS Completo/completo.scss */
  .informacion .informacion__luz .informacion__luz-img .informacion__img {
    width: 95%;
    height: auto;
    box-shadow: 6px 5px 15px 6px #D7D7D7;
    margin: 15px;
    padding: 6px;
  }
  /* line 800, ../Final/SCSS Completo/completo.scss */
  .informacion .informacion__transplante {
    grid-area: trans;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: auto;
  }
  /* line 807, ../Final/SCSS Completo/completo.scss */
  .informacion .informacion__transplante .informacion__transplante-texto {
    width: 95%;
    height: auto;
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
    border: solid #dfe2e09a 3px;
    box-shadow: 6px 5px 12px 5px rgba(68, 63, 63, 0.767);
  }
  /* line 817, ../Final/SCSS Completo/completo.scss */
  .informacion .informacion__transplante .informacion__transplante-img .informacion__img {
    width: 95%;
    height: auto;
    box-shadow: 6px 5px 15px 6px #D7D7D7;
    margin: 15px;
    padding: 6px;
  }
  /* line 826, ../Final/SCSS Completo/completo.scss */
  .informacion .informacion__abono {
    grid-area: abono;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: auto;
  }
  /* line 833, ../Final/SCSS Completo/completo.scss */
  .informacion .informacion__abono .informacion__abono-texto {
    width: 95%;
    height: auto;
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
    border: solid #dfe2e09a 3px;
    box-shadow: 6px 5px 12px 5px rgba(68, 63, 63, 0.767);
  }
  /* line 841, ../Final/SCSS Completo/completo.scss */
  .informacion .informacion__abono .informacion__abono-texto .informacion__titulo {
    text-align: center;
  }
  /* line 846, ../Final/SCSS Completo/completo.scss */
  .informacion .informacion__abono .informacion__abono-img .informacion__img {
    width: 95%;
    height: auto;
    box-shadow: 6px 5px 15px 6px #D7D7D7;
    margin: 15px;
    padding: 6px;
  }
  /* line 856, ../Final/SCSS Completo/completo.scss */
  .banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
  }
  /* line 863, ../Final/SCSS Completo/completo.scss */
  .banner img {
    width: 100%;
    height: auto;
  }
  /*Estilos pagina Nosotros*/
  /* line 870, ../Final/SCSS Completo/completo.scss */
  .nosotros__contenido {
    margin: 25px;
    padding: 13px;
  }
  /*Estilo pagina Contacto*/
  /* line 875, ../Final/SCSS Completo/completo.scss */
  .contacto {
    display: grid;
    grid-template-areas: "datos datos " "formu formu ";
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto auto;
    margin: 15px;
  }
  /* line 883, ../Final/SCSS Completo/completo.scss */
  .contacto .contacto__datos {
    text-align: center;
    grid-area: datos;
    width: 100%;
    height: auto;
    border-radius: 20px;
    border: solid #dfe2e09a 3px;
    box-shadow: 6px 5px 12px 5px rgba(68, 63, 63, 0.767);
  }
  /* line 891, ../Final/SCSS Completo/completo.scss */
  .contacto .contacto__datos .contacto__datos-horario {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* line 897, ../Final/SCSS Completo/completo.scss */
  .contacto .contacto__formulario {
    grid-area: formu;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
  }
  /* line 905, ../Final/SCSS Completo/completo.scss */
  .texto {
    text-align: center;
    font-size: 22px;
    margin: 15px;
  }
}

@media only screen and (max-width: 375px) {
  /*Footer responsive*/
  /* line 914, ../Final/SCSS Completo/completo.scss */
  footer .footerContenido {
    width: 100%;
    height: auto;
  }
  /* line 917, ../Final/SCSS Completo/completo.scss */
  footer .footerContenido .footerContenido__paginas {
    width: 240px;
    margin-left: 25px;
    margin-top: 10px;
    margin-right: 25px;
  }
  /* line 923, ../Final/SCSS Completo/completo.scss */
  footer .footerContenido .contenido__paginas {
    width: 240px;
  }
  /* line 925, ../Final/SCSS Completo/completo.scss */
  footer .footerContenido .contenido__paginas .contenido__paginas-social {
    width: 100%;
    height: auto;
  }
  /* line 930, ../Final/SCSS Completo/completo.scss */
  footer .footerContenido .footerContenido__maps {
    width: 240px;
    height: auto;
  }
  /* line 933, ../Final/SCSS Completo/completo.scss */
  footer .footerContenido .footerContenido__maps iframe {
    width: auto;
    height: auto;
  }
  /*Estilos paginas principal*/
  /* line 941, ../Final/SCSS Completo/completo.scss */
  .plantas {
    display: grid;
    grid-template-areas: " cactus  " "  rosas  " "  pino  " "  estrella  " "  suculentas  " "  clavel  ";
    grid-template-columns: 2fr;
    grid-template-rows: auto;
    margin: 15px;
  }
  /* line 953, ../Final/SCSS Completo/completo.scss */
  .plantas .plantas__cactus {
    grid-area: cactus;
  }
  /* line 956, ../Final/SCSS Completo/completo.scss */
  .plantas .plantas__rosas {
    grid-area: rosas;
  }
  /* line 959, ../Final/SCSS Completo/completo.scss */
  .plantas .plantas__pinolimon {
    grid-area: pino;
  }
  /* line 962, ../Final/SCSS Completo/completo.scss */
  .plantas .plantas__estrella {
    grid-area: estrella;
  }
  /* line 965, ../Final/SCSS Completo/completo.scss */
  .plantas .plantas__suculentas {
    grid-area: suculentas;
  }
  /* line 968, ../Final/SCSS Completo/completo.scss */
  .plantas .plantas__clavel {
    grid-area: clavel;
  }
  /* line 973, ../Final/SCSS Completo/completo.scss */
  .carrusel .carousel-control-prev {
    width: 15px;
    height: 20px;
    margin: auto;
  }
  /* line 978, ../Final/SCSS Completo/completo.scss */
  .carrusel .carousel-control-next {
    height: 20px;
    width: 15px;
    margin: auto;
  }
  /* line 985, ../Final/SCSS Completo/completo.scss */
  .contenido .contenido__informacion {
    width: 95%;
  }
  /*Estilos pagina productos*/
  /* line 990, ../Final/SCSS Completo/completo.scss */
  .cardProductos {
    width: 280px;
    height: 380px;
    margin: 15px;
  }
  /* line 996, ../Final/SCSS Completo/completo.scss */
  .productos .productos__plantas {
    display: grid;
    grid-template-areas: "cactus" "estrella" "rosas" "suculentas";
    grid-template-columns: 2fr;
    grid-template-rows: auto;
  }
  /* line 1005, ../Final/SCSS Completo/completo.scss */
  .productos .productos__plantas .cactus {
    grid-area: cactus;
  }
  /* line 1008, ../Final/SCSS Completo/completo.scss */
  .productos .productos__plantas .estrella {
    grid-area: estrella;
  }
  /* line 1011, ../Final/SCSS Completo/completo.scss */
  .productos .productos__plantas .rosas {
    grid-area: rosas;
  }
  /* line 1014, ../Final/SCSS Completo/completo.scss */
  .productos .productos__plantas .suculentas {
    grid-area: suculentas;
  }
  /* line 1018, ../Final/SCSS Completo/completo.scss */
  .productos .productos__macetas {
    display: grid;
    grid-template-areas: "artesanal" "plastico" "cemento" "ceramica";
    grid-template-columns: 2fr;
    grid-template-rows: auto;
  }
  /* line 1027, ../Final/SCSS Completo/completo.scss */
  .productos .productos__macetas .artesanal {
    grid-area: artesanal;
  }
  /* line 1030, ../Final/SCSS Completo/completo.scss */
  .productos .productos__macetas .plastico {
    grid-area: plastico;
  }
  /* line 1033, ../Final/SCSS Completo/completo.scss */
  .productos .productos__macetas .cemento {
    grid-area: cemento;
  }
  /* line 1036, ../Final/SCSS Completo/completo.scss */
  .productos .productos__macetas .ceramica {
    grid-area: ceramica;
  }
  /* line 1040, ../Final/SCSS Completo/completo.scss */
  .productos .productos__jardineria {
    display: grid;
    grid-template-areas: "insecti" "tierra" "mangue" "pala";
    grid-template-rows: auto;
    grid-template-columns: 2fr;
  }
  /* line 1049, ../Final/SCSS Completo/completo.scss */
  .productos .productos__jardineria .insecticida {
    grid-area: insecti;
  }
  /* line 1052, ../Final/SCSS Completo/completo.scss */
  .productos .productos__jardineria .tierra {
    grid-area: tierra;
  }
  /* line 1055, ../Final/SCSS Completo/completo.scss */
  .productos .productos__jardineria .manguera {
    grid-area: mangue;
  }
  /* line 1058, ../Final/SCSS Completo/completo.scss */
  .productos .productos__jardineria .pala {
    grid-area: pala;
  }
  /*Estilo paginas Plantas*/
  /* line 1066, ../Final/SCSS Completo/completo.scss */
  .informacion .informacion__riego .informacion__riego-texto {
    width: 85%;
    height: auto;
  }
  /* line 1070, ../Final/SCSS Completo/completo.scss */
  .informacion .informacion__riego .informacion__img {
    width: 90%;
    height: auto;
    box-shadow: 6px 5px 15px 6px #D7D7D7;
    margin: 15px;
    padding: 6px;
  }
  /* line 1079, ../Final/SCSS Completo/completo.scss */
  .informacion .informacion__luz .informacion__luz-texto {
    width: 85%;
    height: auto;
  }
  /* line 1083, ../Final/SCSS Completo/completo.scss */
  .informacion .informacion__luz .informacion__img {
    width: 90%;
    height: auto;
    box-shadow: 6px 5px 15px 6px #D7D7D7;
    margin: 15px;
    padding: 6px;
  }
  /* line 1092, ../Final/SCSS Completo/completo.scss */
  .informacion .informacion__transplante .informacion__transplante-texto {
    width: 85%;
    height: auto;
  }
  /* line 1096, ../Final/SCSS Completo/completo.scss */
  .informacion .informacion__transplante .informacion__img {
    width: 90%;
    height: auto;
    box-shadow: 6px 5px 15px 6px #D7D7D7;
    margin: 15px;
    padding: 6px;
  }
  /* line 1105, ../Final/SCSS Completo/completo.scss */
  .informacion .informacion__abono .informacion__abono-texto {
    width: 85%;
    height: auto;
  }
  /* line 1109, ../Final/SCSS Completo/completo.scss */
  .informacion .informacion__abono .informacion__img {
    width: 90%;
    height: auto;
    box-shadow: 6px 5px 15px 6px #D7D7D7;
    margin: 15px;
    padding: 6px;
  }
  /*Pagina nosotros*/
  /* line 1120, ../Final/SCSS Completo/completo.scss */
  .nosotros .nosotros__contenido {
    margin: 25px;
    padding: 20px;
  }
  /*Estilo pagina Contacto*/
  /* line 1126, ../Final/SCSS Completo/completo.scss */
  .contacto {
    display: grid;
    grid-template-areas: "datos datos " "formu formu ";
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto auto;
    margin: 5px;
  }
  /* line 1134, ../Final/SCSS Completo/completo.scss */
  .contacto .contacto__formulario {
    height: auto;
  }
}

/*# sourceMappingURL=completo.css.map */