@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@400;500;600&family=Marmelad&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;500;600&family=Marmelad&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@400;500;600&family=Marmelad&family=Merienda:wght@400;700&display=swap");
/* line 4, ../Final/SCSS nosotros/nosotros.scss */
* {
  margin: 0px;
  padding: 0px;
}

/* line 8, ../Final/SCSS nosotros/nosotros.scss */
body {
  font-family: 'Cormorant Upright', sans-serif;
  font-size: 22px;
  font-weight: 600;
}

/* line 13, ../Final/SCSS nosotros/nosotros.scss */
.banner__img {
  width: 100%;
  height: 580px;
}

/* line 17, ../Final/SCSS nosotros/nosotros.scss */
.menu {
  max-height: 80px;
}

/* line 20, ../Final/SCSS nosotros/nosotros.scss */
.menu img {
  border-radius: 100%;
  max-height: 65px;
}

/* line 24, ../Final/SCSS nosotros/nosotros.scss */
.navbar-nav {
  margin-left: 580px;
}

/* line 27, ../Final/SCSS nosotros/nosotros.scss */
li h2 {
  display: inline;
  font-size: 18px;
  font-family: 'Merienda', sans-serif;
  font-weight: 400;
}

/* line 33, ../Final/SCSS nosotros/nosotros.scss */
li h3 {
  display: inline;
  font-size: 18px;
  font-family: 'Merienda', sans-serif;
  font-weight: 400;
}

/* line 39, ../Final/SCSS nosotros/nosotros.scss */
.titulo {
  text-align: center;
  font-family: 'Marmelad', sans-serif;
  font-weight: 400;
  font-size: 32px;
}

/* line 45, ../Final/SCSS nosotros/nosotros.scss */
.titulo__texto {
  font-family: 'Merienda', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

/* line 50, ../Final/SCSS nosotros/nosotros.scss */
.nosotros {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* line 56, ../Final/SCSS nosotros/nosotros.scss */
.nosotros__contenido {
  width: 1650px;
  height: auto;
  margin: 30px;
  padding: 20px;
  border-radius: 20px;
  border: solid #dfe2e09a 3px;
  box-shadow: 6px 5px 12px 5px rgba(68, 63, 63, 0.767);
}

/* line 65, ../Final/SCSS nosotros/nosotros.scss */
footer {
  background: #838080;
  height: auto;
  width: 100%;
}

/* line 70, ../Final/SCSS nosotros/nosotros.scss */
.footerContenido {
  display: grid;
  grid-template-areas: "  paginas social maps " " paginas social maps ";
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: auto auto auto;
}

/* line 78, ../Final/SCSS nosotros/nosotros.scss */
.footerContenido__maps {
  grid-area: maps;
  margin: 40px;
}

/* line 82, ../Final/SCSS nosotros/nosotros.scss */
.footerContenido__paginas {
  width: 300px;
  grid-area: paginas;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
}

/* line 91, ../Final/SCSS nosotros/nosotros.scss */
.footerContenido__paginas li {
  list-style-type: none;
  text-decoration: none;
  font-size: 22px;
}

/* line 96, ../Final/SCSS nosotros/nosotros.scss */
.footerContenido__paginas li a {
  text-decoration: none;
  color: #c7c7c7;
}

/* line 100, ../Final/SCSS nosotros/nosotros.scss */
.footerContenido__social {
  grid-area: social;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  padding: 15px;
}

/* line 108, ../Final/SCSS nosotros/nosotros.scss */
.footerContenido__social li {
  list-style-type: none;
}

/* line 111, ../Final/SCSS nosotros/nosotros.scss */
.footerContenido__social li a img {
  width: 50px;
  height: 50px;
}

@media only screen and (max-width: 768px) {
  /* line 116, ../Final/SCSS nosotros/nosotros.scss */
  * {
    margin: 0px;
    padding: 0px;
  }
  /* line 120, ../Final/SCSS nosotros/nosotros.scss */
  .navbar-nav {
    margin: auto;
  }
  /* line 123, ../Final/SCSS nosotros/nosotros.scss */
  .nosotros__contenido {
    margin: 25px;
    padding: 13px;
  }
  /* line 127, ../Final/SCSS nosotros/nosotros.scss */
  .footerContenido {
    display: grid;
    grid-template-areas: " . paginas . " " . social . " " . maps . ";
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto auto auto;
  }
  /* line 136, ../Final/SCSS nosotros/nosotros.scss */
  .footerContenido__maps {
    grid-area: maps;
  }
  /* line 139, ../Final/SCSS nosotros/nosotros.scss */
  .footerContenido__paginas {
    grid-area: paginas;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  /* line 146, ../Final/SCSS nosotros/nosotros.scss */
  .footerContenido__paginas li {
    list-style-type: none;
    text-decoration: none;
    font-size: 22px;
  }
  /* line 151, ../Final/SCSS nosotros/nosotros.scss */
  .footerContenido__paginas li a {
    text-decoration: none;
    color: #c7c7c7;
  }
  /* line 155, ../Final/SCSS nosotros/nosotros.scss */
  .footerContenido__social {
    grid-area: social;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding: 15px;
  }
  /* line 163, ../Final/SCSS nosotros/nosotros.scss */
  .footerContenido__social li {
    list-style-type: none;
  }
  /* line 166, ../Final/SCSS nosotros/nosotros.scss */
  .footerContenido__social li a img {
    width: 50px;
    height: 50px;
  }
}

@media only screen and (max-width: 375px) {
  /* line 172, ../Final/SCSS nosotros/nosotros.scss */
  .nosotros__contenido {
    margin: 15px;
    padding: 8px;
  }
  /* line 176, ../Final/SCSS nosotros/nosotros.scss */
  .footerContenido {
    display: grid;
    grid-template-areas: " . paginas .  " " . social . " " . maps . ";
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto auto auto;
  }
  /* line 185, ../Final/SCSS nosotros/nosotros.scss */
  .footerContenido__maps {
    grid-area: maps;
    width: 280px;
    height: auto;
  }
  /* line 190, ../Final/SCSS nosotros/nosotros.scss */
  .footerContenido__maps-mapa {
    width: 100%;
    height: auto;
  }
  /* line 194, ../Final/SCSS nosotros/nosotros.scss */
  .footerContenido__paginas {
    grid-area: paginas;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 220px;
    height: auto;
  }
  /* line 203, ../Final/SCSS nosotros/nosotros.scss */
  .footerContenido__paginas li {
    list-style-type: none;
    text-decoration: none;
    font-size: 18px;
  }
  /* line 208, ../Final/SCSS nosotros/nosotros.scss */
  .footerContenido__paginas li a {
    text-decoration: none;
    color: #c7c7c7;
  }
  /* line 212, ../Final/SCSS nosotros/nosotros.scss */
  .footerContenido__social {
    grid-area: social;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
  }
  /* line 219, ../Final/SCSS nosotros/nosotros.scss */
  .footerContenido__social li {
    list-style-type: none;
  }
  /* line 222, ../Final/SCSS nosotros/nosotros.scss */
  .footerContenido__social li a img {
    width: 50px;
    height: 50px;
  }
}

/*# sourceMappingURL=nosotros.css.map */