*{
    margin: 0px;
    padding: 0px;
}
.card{
    width: 200px;
    height: 255px;
    margin-left: 45px;
    margin-right: 45px;
    transition: all 600ms ease-in-out;
}
.card:hover{
    transform: scale(1.1);
}
.productos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.productos__plantas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.productos__macetas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.productos__jardineria{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.card img{
    width: 100%s;
    height: 120px;
}
.navbar {
    z-index: 1;
    margin-bottom: 15px;
    background: rgb(207,207,206);
    background: linear-gradient(180deg, rgba(207,207,206,1) 0%, rgba(234,234,234,1) 42%, rgba(255,254,254,1) 70%);
  }
  .menu{
    max-height: 80px;
}
.menu img{
    border-radius: 100%;
    max-height: 65px;
}
@media only screen and (max-width: 576px){
    .card{
        width: 260px;
        height: 300px;
    }
    .productos__jardin-prod1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
    }
    .productos__jardin-prod2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
    }
    .productos__jardin-prod3{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
    }
    .productos__plantas-prod1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
    }
    .productos__plantas-prod2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
    }
    .productos__plantas-prod3{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
    }
    .productos__macetas-prod1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
    }
    .productos__macetas-prod2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
    }
    .productos__macetas-prod3{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
    }
}